{% extends "base.html" %}

{% block jscript%}
<script>
function ck(b)
{
    var input = document.getElementsByTagName("input");

    for (var i=0;i<input.length ;i++ )
    {
        if(input[i].type=="checkbox")
            input[i].checked = b;
    }
}
</script>

<script>
$(function() {
    var frm=$('#usubmit');
    frm.submit(function (ev) {
        $.ajax({
            type:frm.attr('method'),
            url:frm.attr('action'),
            data:frm.serialize(),
            success: function (data) {
                alert(data);
		$('#container').load(document.URL +  '#container');
                #$('#newadd').remove()
                #$('#content').append(data);
            }

   });
    ev.preventDefault();
})

})
</script>


{%endblock%}

{% block baseline %} <li class="active"><a href="/monitor/addbaseline">Oracle基线</a></li>{% endblock %}


{% block content %}


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id='content'>
    <h1 class='page-header'>Oracle等待事件</h1>


<form  id='usubmit' action="/monitor/addbaseline" method="post">{% csrf_token %}
<p><h3>数据库基线设置</h3></p>
<br/>
{{ form.as_p }}
{{form.errors.as_p}}
<p><label>基线日期: </label><input id="d11" name ="baselinetime"  value= {{etime}} type="text" class="Wdate" onFocus="WdatePicker({isShowWeek:true,lang:'zh-cn',dateFmt:'yyyyMMdd'})"/></p>
<p><input type="submit" value="提交" /></p>

</form>
</div>

<div id="container" style="min-width:700px;height:400px"></div>


{% endblock %}
