<div id='new add'>
<script>
$(function () {
    $('#container').highcharts({
	chart: {
            type: 'column'
        },
        title: {
            text: '{{title|safe}}',
        },
	subtitle: {
            text: '{{subtitle|safe}}',
            x: -20
        },
        xAxis: {
            categories: {{categories|safe}}
        },
        yAxis: {
	    min: 0,
            title: {
                text: '{{title_y}}'
             }    
	},
	
	tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} {{unit}}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },	
        series:[
		{% for i in series %}
		{
		    name: '{{i.name}}',
		    data: {{i.data}}
		    },
		{% endfor %}
	        ]		     
	});
});			  
</script>
</div>
